django
djangorestframework
djoser
drf-extra-fields
Pillow
pdfkit
django-colorfield
pytz
python-dotenv
psycopg2-binary
requests
PyJWT
pytest
pytest-pythonpath
django-filter
djangorestframework-simplejwt
gunicorn
